<div class="container-fluid">
  <h1>ToDo App</h1>

  
  
  
  man hätte hier auch etwas aufteilen können
  
  z.b.
  =======
  <app-input></app-input>
  <app-list></app-list>
  
  <!--Division for taking input from user -->
  <div class="row mt-1">
    <mat-form-field appearance="fill" floatLabel="auto" class="col-10">
      <input matInput placeholder="Write a Task" [(ngModel)]="todoDescription" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="addTodo()" class="col-2" *ngIf="!isEditActive">
      ADD TASK
    </button>

    <button mat-raised-button color="primary" (click)="updateTodo()" class="col-2" *ngIf="isEditActive">
      UPDATE TASK
    </button>
  </div>

  <!--Tasks added repeated divisions-->
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let todo of todoList$ | async; let index = index" class="row mt-1" cdkDrag>
      <div class="col-8 h4">{{ todo.description }}</div>
      <button mat-mini-fab color="accent" aria-label="edit a task" class="col-2" (click)="editTodo(todo)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="delete a task" class="col-2" (click)="deleteTodo(todo)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
